@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Aditya Joshi<br />
    Raleigh, NC<br />
    <abbr title="Phone">P:</abbr>
    xxx.xxx.xxxx
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">ajoshi6@ncsu.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">adityajoshi2k7@gmail.com</a>
</address>
