<!DOCTYPE html>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NetAdmin</title>

    <environment include="Development,Staging,Test">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development,Staging,Test">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <div class="container-fluid">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="row">

                <div class="col-md-4">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>


                        <a href="#" class="pull-left"><img src="~/images/labcorp.png" style="height:50px;width:130px;"></a>

                        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand pull-left" style="width: 38%;margin-top: -10px;">
                            NetAdmin
                            <environment names="Development">
                                <span style="font-size: 10px;">Development</span>
                            </environment>
                            <environment names="Test">
                                <span style="font-size: 10px;">Test</span>
                            </environment>
                            <environment names="Staging">
                                <span style="font-size: 10px;">Staging</span>
                            </environment>

                            @if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
                            {
                                <span style="font-size: 10px;">@HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault().Value</span>
                            }
                        </a>
                    </div>
                </div>
                <div class="col-md-4 ">
                </div>
                <div class="col-md-4">
                    <div class="navbar-collapse collapse pull-right">
                        <ul class="nav navbar-nav">

                            @if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
                            {
                                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                                <li><a asp-area="" asp-controller="Login" asp-action="Logout"> <span title="Logout" class="glyphicon glyphicon-log-out"></span></a></li>


                            }

                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>



    <div class="container-fluid" style="padding-bottom:15px;">
        <div class="modal fade" id="partialmodal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="closebutton" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4><label id="modalTopic" class="modal-title">Find Accession Codes</label></h4>
                    </div>
                    <div class="modal-body">
                        <div id="partial"></div>
                    </div>
                    @*<div class="modal-footer">
                            <button type="submit" class="btn btn-primary" >Submit</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                        </div>*@
                </div>
            </div>
        </div>

        @RenderBody()
    </div>
    <div class="navbar navbar-default navbar-fixed-bottom">

        <footer>
            <p style="text-align:center">&copy; 2018 - NetAdminCoreMVC</p>
        </footer>
    </div>

    <environment include="Development">

    </environment>
    <environment exclude="Development,Staging,Test">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
